<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	  
	<bean id="courseDaoImpl" class="com.intern.project.daoImpl.CourseDaoImpl">
		  <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
     <bean id="courseServiceImpl" class="com.intern.project.service.courseServiceImpl">
		<property name="courseDAOImpl" ref="courseDaoImpl"></property>
	</bean>
	
	<bean id="scoreDAOImpl" class="com.intern.project.daoImpl.ScoreDaoImpl">
		  <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
     <bean id="scoreServiceImpl" class="com.intern.project.service.scoreServiceImpl">
		<property name="scoreDaoImpl" ref="scoreDAOImpl"></property>
	</bean>
	
	<bean id="studentDaoImpl" class="com.intern.project.daoImpl.StudentDaoImpl">
		  <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
     <bean id="studentServiceImpl" class="com.intern.project.service.studentServiceImpl">
		<property name="studentDAOImpl" ref="studentDaoImpl"></property>
	</bean>
	
	
</beans>